body
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cvHeader
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8em;
  height: 200px;
  background-color: white;
  position: fixed;
  top: 0px;

}

.headerEngl
{
  display: flex;
  flex-direction: row;
  color: red;
  align-items: center;
}

#headerPhotoAndName
{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:270px;
  margin-right: 15px;
}

.headerDiv
{
  display: flex;
  flex-direction: row;
  padding: 15px;
  text-align: center;
}

#flagDiv
{
  padding-top: 5px;
}


.mainBody
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anchor
{
  display: block;
  position: relative;
  height: 170px;
  margin-top: -170px;
  visibility: hidden;
}

#homeBufferEngl
{
  margin-top: 170px;
}

.sectionEnglish h1
{

  font-size: 2.5em;
  text-align: center;

}

.sectionEnglish p
{
  font-size: 1.2em;
  text-align: left;
  max-width: 950px;
}
