body
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cvHeader
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1.8em;
  height: 200px;
  background-color: white;
  position: fixed;
  top: 0px;
  width: 80%

}

.headerEngl
{
  display: flex;
  flex-direction: row;
  color: red;
  align-items: center;
}

#headerPhotoAndName
{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:270px;
  margin-right: 15px;
}

.headerDiv
{
  display: flex;
  flex-direction: row;
  padding: 15px;
  text-align: center;
}

#flagDiv
{
  padding-top: 5px;
}


.mainBody
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.anchor
{
  display: block;
  position: relative;
  height: 170px;
  margin-top: -170px;
  visibility: hidden;
}

#homeBufferEngl
{
  margin-top: 170px;
}

h1
{
  font-size: 2.5em;
  text-align: center;
}

h2
{
  text-align: center;
}

.sectionEnglish
{
  width: 100%;
  max-width: 1200px;
}

.sectionEnglish article
{
  font-size: 1.2em;
  text-align: center;
  border: 1px black solid;
  padding: 5px;
}

.aboutMe
{
  display: flex;
}

.aboutMeContent
{
  text-align: justify;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  padding-right: 50px;
}

.strengths
{
  display: flex;
  justify-content: space-between;
}

.workExperience, article
{
  text-align: center;
}

.education
{
  display: flex;
}

.uniLogo
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
}

ul
{
  list-style: none;
}


.listHobby ul li
{
  display: inline;
  padding: 0 1.3em;
}

.hobbyLogos
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
