#cvHeader
{
  display: flex;
  flex-direction: row;
  font-size: 2em;
}

.headerEngl
{
  display: flex;
  flex-direction: row;
  color: red;
  align-items: center;
}

#headerPhotoAndName
{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:270px;
}

.headerDiv
{
  display: flex;
  flex-direction: row;
  padding: 15px;
}

#flagDiv
{

}

.mainBody
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionEnglish
{
  width: 1000px;
}

.sectionEnglish h1
{
  text-align: center;
}
